@import '../../style/color.scss';
@import '../../utils/mixins.scss';
.image{
  width:100%;
}

.appartmentPage{
    width: 90%;
    border-radius: 15px;
    margin-left: 10px;
    color:$quatriary;
    font-family: "Monserat", sans-serif;
    font-size:small;
    box-sizing: border-box;
	  font-family: "Montserrat", sans-serif;
}

h2{
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
}

h1{
margin-left: 30px;
 margin-bottom: 0px;
}

.appartmentTag1{
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top:6px ;
  padding-bottom:6px ;
  color:$tertiary;
  background-color: $quatriary;
}
.appartmentTag2,.appartmentTag3{
  border-radius: 20px;
  margin-left: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top:6px ;
  padding-bottom:6px ;
  color:$tertiary;
  background-color: $quatriary;
}

.appartment-header{
@include flex-between;
}

.badge{
  background-color:$secondary;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

p{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:10px;
}

.Dumas{
  @include flex-between;
}

.appartment-title{
  
  width:100%;
}

.Tag{
  margin-top: 20px;
  margin-left: 30px;
}

.Dumas{
  margin-top: 20px;
}


//----------------------lesmedia queries----------------------------

@include  mediamaxwidth(756px) {
  .appartment-header{
    @include flex-column;
  }
 
  .Alexandre_Dumas{
    background-color: aqua;
 
  }
  }
//--------------------------------------------------------------  
   
 
 .Description{
  width: 100%;
 }
 .Equipement{
  width: 100%;
 }
 .appartment-description{
  width:100%;
 }
 .appartment-Equipements{
  width: 100%;
 }
 .appartmentPage{
  height: 1050px;
 }


.stars{
  margin-top: 20px;
  
}

//----------------------------------------------------------
   
    .Description{
     width: 100%;
    }
    .Equipement{
     width: 100%;
    }
    .appartment-description{
     width:100%;
    }
    .appartment-Equipements{
     width: 100%;
    }
    .appartmentPage{
     height: 1050px;
    }
 //-------------------------------------------------
 @include  mediaminwidth(1125px) {
  .info{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
  }
 
  .appartment-Equipements{
    margin-left: 15px;
  }
  .EquipementContent{
    margin-left: 15px;
  }
 }  
   