@import '../../style/color.scss';
@import '../../utils/mixins.scss';
.image{
  width:100%;
}

.appartmentPage{
    width: 90%;
    border-radius: 15px;
    margin-left: 10px;
    color:$quatriary;
    font-family: "Monserat", sans-serif;
    font-size:small;
    box-sizing: border-box;
	  font-family: "Montserrat", sans-serif;
}

h2{
 
  margin-top: 10px;
  font-size: 15px;
}

h1{

 margin-bottom: 0px;
}




.appartment-header{
@include flex-between;
}



p{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left:10px;
}



.appartment-title{
  
  width:100%;
}



.Dumas{
  margin-top: 20px;
}


//----------------------lesmedia queries----------------------------

@include  mediamaxwidth(756px) {
  .appartment-header{
    @include flex-column;
  }
 
  .Alexandre_Dumas{
    background-color: aqua;
 
  }
  }
//--------------------------------------------------------------  
   
 
 .Description{
  width: 100%;
 }
 .Equipement{
  width: 100%;
 }
 .appartment-description{
  width:100%;
 }
 .appartment-Equipements{
  width: 100%;
 }
 .appartmentPage{
  height: 1050px;
 }


.stars{
  margin-top: 20px;
  
}

//----------------------------------------------------------
   
    .Description{
     width: 100%;
    }
    .Equipement{
     width: 100%;
    }
    .appartment-description{
     width:100%;
    }
    .appartment-Equipements{
     width: 100%;
    }
    .appartmentPage{
     height: 1050px;
    }
 //-------------------------------------------------
 @include  mediaminwidth(1125px) {
  .info{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
  }
 
  .appartment-Equipements{
    margin-left: 15px;
  }
  .EquipementContent{
    margin-left: 15px;
  }
 }  
   