@import "../../utils/mixins.scss";
.banner {
   padding: 33px;
   
    position: relative;
    
  &__txt {
      position: absolute;
      top: 40%;
      left: 33%;
      font-size: 33px;
      color: white;
      
      
    }
}

@include mediamaxwidth (780px){
  banner__img{
    height:150px ;
  }
  .banner {
    padding: 25px;
    height: 150px;
     position: relative;
     
   &__txt {
       position: absolute;
       top: 40%;
       left: 23%;
       font-size: 25px;
       color: white;
       
       
     }
 }
}
 @include mediamaxwidth (400px){
  .banner {
    padding: 15px;
    height:130px;
     position: relative;
     
   &__txt {
       position: absolute;
       top: 40%;
       left: 23%;
       font-size: 15px;
       color: white;
       
       
     }
 }
}