@import "../../utils/mixins.scss";
.banner {
  
  margin-bottom: 20px;

    position: relative;
   
    
  &_txt {
   
      position: absolute;
     
      top: 40%;
      left: 33%;
      font-size: 33px;
      color: white;
      
      
    }
}
img{
  width: 100%;
 
}

@include  mediaminwidth(1024px) {

  .banner_txt{
@include flex-center;
  }

}
  @include  mediamaxwidth(1024px) {

    .banner_txt{
      @include flex-center;
        }

   } 
  @include  mediamaxwidth(768px) {

    .banner_txt{
      @include flex-center;
      font-size:23px ;
        }

  }
    @include  mediamaxwidth(425px) {
       
      .banner_txt{
     
        font-size:20px ;
       right: 70px;
     bottom:30px;
       
          }

    }