.slide{
    width:200px;
    height: 100px;
    background-color: aqua;
}
.image{
 
 
   margin-left: 50px;
    height: 400px; 
    object-fit:cover;
    border-radius: 1rem;
  }
 .image_carousel{
  position:relative ;
  .button.next{
   top:0;
   bottom: 0;
   width:3rem;
   
    position: absolute;
    cursor: pointer;
   }
 
margin-bottom: 2rem;
position: relative;
height:20rem;
width:100%;

img{
  width:100%; 
position: absolute;
height: 100%;
object-fit: cover;
  border-radius: 1rem;
  opacity:0;
  &.show {
    opacity: 1;
  }
}
 }
.carrousel{
position :relative;
.arrowLeft,.arrowRight{
  position:absolute;
  top:calc((50% - 121px/2));
  cursor: pointer;
z-index:1;
}
.arrowLeft{
  left:10px;
}

.arrowRight{
  right:10px;

}

}
 
   
   
   
   