@import "../../style/color.scss";
@import "../../utils/mixins.scss";
Footer{
   background-color:$footer;
   width:100%;
  
   margin-top: 30px;
  @include flex-column;
   
}
.footer__logo{
   @include flex-center;
  
  
}
img.footer__logo{
width:10%;

}
.footer__text-copyright{
    color:white;
    width: 513px;
   margin-top: 15px;
    text-align: center;
    font: Monserat;
}

.Contfooter{
   height: 209px;
}

